@import 'colors';

.task {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 24px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
        0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 16px;

    &:not(:first-child) {
        margin-top: 18px;
    }

    p {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: 0.04em;
        color: $main-text-color;
    }
}
